@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* Nav Bar Main */
.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #240046;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.right{
    margin-left: 78%;
}

.book-icon{
    margin-left: 10px;
    font-size: 35px;
    color: white;
}

/* Title */
.header{
    color: white;
    margin-left: 15px;
    width: max-content;
}

/* Create Button */
.create-btn{
    background-color: #240046;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 50px;
    width: 130px;
}

.create-btn:hover{
    background-color: white ;
    color: #240046;
}

@media screen and (max-width:375px){
    .right{
        margin-left: 10%;
    }
    .header{
        display: none;
    }
}

