@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.page-nos-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nos, .next, .prev{
    padding: 5px;
    margin: 5px;
    color: #240046;
    font-size: 18px; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}


.nos:hover, .next:hover, .prev:hover{
    transform: scale(1.1);
}