.popup-box{
    display: flex;
    background-color: white;
    border-radius: 10px;
    opacity: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    min-height: 100px;
    justify-content: center;
    border: 0.2px solid black;
}

.popup-text{
    color: #240046;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

.popup-btn{
    background-color: aqua;
    color: white;
    padding: 5px;
    background-color: #240046;
    border-radius: 8px;
    border: none;
    align-self: center;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 800;
}
